body
{
    background: #111;
    color: #f4f4f4;

}

.my-btn { 
    
    margin-right: 5px;           
    margin-top: 5px;           
    width: 50px;                
    height: 50px;               
    border: none;               
    background: #515151;        
    color: white;               
    font-size: 2rem; 
    font-weight:200;
    font-family: 'Times New Roman', Times, serif; 
    cursor: pointer;          
    user-select: none;           
  } 
  
 
  .my-btn:hover {
    background: black; 
  }
  

  .my-btn:active {
    filter: brightness(130%); 
  }
  

  .my-btn.primary { 
    background: #8b00ff; 
  }
  
 
  .my-btn.secondary { 
    background: #42aaff; 
  }
  
 
  .my-btn.execute { 
    width: 110px;         
      
  }

 
  .result {
    
    width: 230px;
    height: 60px;
    margin-bottom: 15px;         
    padding-right: 10px;         
    background: rgb(255, 0, 170); 
    text-align: right;         
    color: #ffffff;              
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif; 
    border-radius: 34px; 
  }

 .qqw{
    display:flex;
    justify-content:center;
    margin-top:50px;
    align-items: center;
    height: 80vh;
    margin: 0;
    
}
img.background {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
.dropdown{

  display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
}
.calc{
    flex-direction: column;
    border: 3px solid;
}